<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CCD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <applicationSettings>
    <CCD.Properties.Settings>
      <setting name="MeterBaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="MeterDataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="MeterHandShake" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="MeterParity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="MeterStopBits" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="MeterPortName" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="InverterBaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="InverterDataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="InverterHandShake" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="InverterParity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="InverterStopBits" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="InverterPortName" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="Aviso_ON" serializeAs="String">
        <value>activa_aviso</value>
      </setting>
      <setting name="Aviso_OFF" serializeAs="String">
        <value>apaga_aviso</value>
      </setting>
      <setting name="IFTTT_KEY" serializeAs="String">
        <value>cQI0Xpm6oE-DVC8ezLnwHs</value>
      </setting>
      <setting name="CadaXSegundos" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="FiltroPmax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConnectionType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MeterIP" serializeAs="String">
        <value>192.168.0.221:8899</value>
      </setting>
      <setting name="MeterSocket" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AvisoSonoro" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ControlaBombas" serializeAs="String">
        <value>False</value>
      </setting>
    </CCD.Properties.Settings>
  </applicationSettings>
</configuration>